set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
GO






ALTER                               PROCEDURE [dbo].[PICKING_PENDIENTE]
	@USUARIO		AS VARCHAR(30),
	@TIPOPICKING	AS NUMERIC(1),
	@CLIENTE		AS VARCHAR(30)=NULL
AS
	DECLARE @VIAJEID 			AS VARCHAR(30)
	DECLARE @CLIENTEID			AS VARCHAR(100)
	DECLARE @PRODUCTO_ID		AS VARCHAR(50)
	DECLARE @DESCRIPCION		AS VARCHAR(200)
	DECLARE @QTY				AS NUMERIC(20,5)
	DECLARE @POSICION_COD		AS VARCHAR(45)
	DECLARE @PALLET				AS VARCHAR(100)
	DECLARE @PALLET_PICKING 	AS NUMERIC(20)
	DECLARE @RUTA				AS VARCHAR(50)
	DECLARE @UNIDAD_ID			AS VARCHAR(5)
	DECLARE @VAL_COD_EGR		AS CHAR(1)
	DECLARE @HIJO 				AS NUMERIC(20,0)
	DECLARE @CLIENTE_ID			AS VARCHAR(15)

BEGIN
		DECLARE @CONT	FLOAT

		SELECT 		TOP 1
					@VIAJEID=SP.VIAJE_ID, @PRODUCTO_ID=SP.PRODUCTO_ID, 
					@CLIENTEID = SP.CLIENTE_ID,
					@DESCRIPCION=SP.DESCRIPCION, @QTY=SUM(SP.CANTIDAD),@POSICION_COD= POSICION_COD,
					@PALLET = SP.PROP1,@RUTA=SP.RUTA,@PALLET_PICKING=SP.PALLET_PICKING,@UNIDAD_ID=PROD.UNIDAD_ID,
					@VAL_COD_EGR=PROD.VAL_COD_EGR, @HIJO=NULL,@CLIENTE_ID = SP.CLIENTE_ID
		FROM 		PICKING SP 
					INNER JOIN PRIORIDAD_VIAJE SPV
					ON(SPV.VIAJE_ID=SP.VIAJE_ID)
					INNER JOIN PRODUCTO PROD
					ON(SP.CLIENTE_ID=PROD.CLIENTE_ID AND SP.PRODUCTO_ID=PROD.PRODUCTO_ID)
		WHERE 		
					SP.CANT_CONFIRMADA IS NULL
					AND (DBO.VERIFICA_PALLET_FINAL(SP.POSICION_COD,SP.VIAJE_ID,SP.RUTA, SP.PROP1)=@TIPOPICKING)
					AND SP.USUARIO=Ltrim(Rtrim(Upper(@Usuario)))
					AND ((@CLIENTE IS NULL) OR(SP.CLIENTE_ID=@CLIENTE))
					AND
					SP.VIAJE_ID IN (SELECT 	VIAJE_ID
									FROM  	RL_VIAJE_USUARIO
									WHERE 	VIAJE_ID=SP.VIAJE_ID AND
											USUARIO_ID =Ltrim(Rtrim(Upper(@Usuario)))	
									)
					AND SP.SALTO_PICKING = (	SELECT 	MIN(SALTO_PICKING)
												FROM 	PICKING 
												WHERE 	VIAJE_ID=SP.VIAJE_ID
														AND USUARIO=SP.USUARIO
														AND FECHA_FIN IS NULL
														AND CANT_CONFIRMADA IS NULL
												)
					AND SP.FECHA_INICIO IS NOT NULL
		GROUP BY	SP.VIAJE_ID, SP.CLIENTE_ID, SP.PRODUCTO_ID, SP.DESCRIPCION, SP.RUTA,SP.POSICION_COD,SP.TIPO_CAJA,SP.PROP1,SP.PALLET_PICKING,PROD.UNIDAD_ID,PROD.VAL_COD_EGR, SP.HIJO,SP.CLIENTE_ID
		ORDER BY	CAST(SP.TIPO_CAJA AS NUMERIC(10,1)) DESC, SP.POSICION_COD ASC
			
		BEGIN
			IF @PRODUCTO_ID IS NOT NULL
			BEGIN
				SELECT 	@VIAJEID AS VIAJE_ID,@PRODUCTO_ID AS PRODUCTO_ID, 
						@CLIENTEID AS CLIENTE_ID, 
						@DESCRIPCION AS DESCRIPCION, @QTY AS QTY, 
						@POSICION_COD AS POSICION_COD, @PALLET AS PALLET,
						@PALLET_PICKING AS PALLET_PICKING,
						@RUTA AS RUTA, @UNIDAD_ID AS UNIDAD_ID,
						@VAL_COD_EGR AS VAL_COD_EGR, @HIJO AS STRCOD,@CLIENTE_ID AS CLIENTE_ID
			END
			ELSE
			BEGIN
				SELECT 	@CONT=COUNT(*)
				FROM 	PICKING 
				WHERE	USUARIO=LTRIM(RTRIM(UPPER(@USUARIO)))
						AND FECHA_INICIO IS NOT NULL
						AND FECHA_FIN IS  NULL
						AND PALLET_COMPLETO<>@TIPOPICKING
				IF @CONT>0
				BEGIN
					--CON ESTO LIBERO LA TAREA TOMADA.
					UPDATE	PICKING SET FECHA_INICIO=NULL, FECHA_FIN=NULL, USUARIO=NULL, VEHICULO_ID=NULL, PALLET_COMPLETO=NULL
					WHERE	USUARIO=@USUARIO 
							AND FECHA_INICIO IS NOT NULL 
							AND FECHA_FIN IS NULL 
							AND CANT_CONFIRMADA IS NULL
							AND PALLET_COMPLETO<>@TIPOPICKING
					RETURN
				END
			END
		END
END













